.carousel-container{
	&.enabled{
		overflow:hidden;
		position:relative;		
	}

	.carousel{
		padding:0;
		position:absolute;
		left:0px;

		.item{
			list-style:none;
			position:relative;

			a{
				display:block;

				img{
					max-width:100%;
				}
			}
		}
	}
}	


@media (max-width:767px){
	.carousel-container{
		padding:0;

		.carousel{
			margin:0px;

			.item{
				padding:0;
			}
		}		
	}
}

@media (min-width:768px) and (max-width:991px){
	.carousel{
		.item{
			img{
				max-width:350px;
				width:100%;
			}
		}
	}
}

@media (min-width:992px){
	.carousel{
		.item{
			img{
				max-width:300px;
				width:100%;
			}
		}

	}
}