.no-js .carousel-container{
	display:block;
}

.js .carousel-container{
	display:none;

	&.enabled{
		display:block;
	}
}

.carousel-container{
	&.enabled{
		overflow:hidden;
		position:relative;		
	}

	.carousel{
		padding:0;
		margin-bottom:0;

		.item{
			list-style:none;

			a{
				display:block;

				img{
					max-width:100%;
				}
			}
		}
	}

	.carousel-controls{
		margin:0;
		padding:0;
		z-index: 999;
		position:relative;
		top:37%;

		li{
			list-style:none;

			&.previous{
				float:left;
			}

			&.next{
				float:right;
			}

			a{
				width:20px;
				height:20px;
				padding:10px;
				background-color:#FF0000;
				display:block;
				@include box-sizing(content-box);

			}
		}
	}
}	


@media (max-width:767px){
	.carousel-container{
		padding:0;

		.carousel{
			margin:0px;
			position:relative;

			.item{
				padding:0;
				width:100%;
				background-color:#FFFFFF;
				z-index:1;

				&:first-child{
					z-index:3;
				}
			}
		}

		&.enabled{
			.carousel{
				.item{
					position:absolute;
					top:0px;
					left:0px;
				}
			}
		}		
	}
}

@media (min-width:768px){
	.carousel-container{
		&.enabled{
			.carousel{
				position:absolute;
				left:10px;
			}
		}
	}
}

@media (min-width:768px) and (max-width:991px){
	.carousel{
		.item{
			
			&.col-sm-6{
				width:370px;
			}

			img{
				max-width:350px;
				width:100%;
			}
		}
	}
}

@media (min-width:992px){
	.carousel{
		.item{
			
			&.col-sm-6{
				width:320px;
			}

			img{
				max-width:300px;
				width:100%;
			}
		}

	}
}