h1, .h1, h2, .h2{
	text-transform:uppercase;
	border-bottom: 1px solid $primaryBrandColor;
	padding-bottom:10px;
	color:$primaryBrandColor;
}

h1{
	font-size: $font-size-huge;
	margin-top:0px;
	font-weight:normal;

	strong{
		display:block;
		font-weight:bold;
	}
}


h2, .h2 {
	font-size: $font-size-medium;
	padding-top:10px;
	border-top:1px solid $primaryBrandColor;
	margin-bottom:10px;
} // ~16px